h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  text-align: center;
  font-size: 50px;
}
.input-field {
  display: flex;
}
#search {
  flex: 1;
  padding: 10px;
  font-size: 15px;
}
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.photo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}
a {
text-decoration: none;
color: black;
font-size: 20px;
display: flex;
justify-content: center;
font-family: 'Oswald', sans-serif;
}
#author {
  font-size: 20px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 2px;
}
#type {
  font-size: 20px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 2px;
}
footer {
  text-align: center;
}
@media all and (max-width: 800px){
  .container{
    flex-direction: column;
    height: 100vh;
  }
}