h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  text-align: center;
  font-size: 50px;
}
.input-field {
  display: flex;
}
#search {
  flex: 1;
}
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.photo {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
}
a {
text-decoration: none;
color: black;
font-size: 20px;
display: flex;
justify-content: center;
font-family: 'Oswald', sans-serif;
}